{% extends 'base/main.html' %}
{% block content %}

<div class="about-container">
  <div class="about-wrapper">
    <h1>About TaskMate</h1>
    <p>By Sophanda Long</p>
    <p>
      TaskMate is a reliable and intuitive to-do list application designed to be your ultimate task management companion. 
      Seamlessly organize and prioritize your daily responsibilities with ease using TaskMate's robust features. 
      Effortlessly create, edit, and track tasks, ensuring nothing falls through the cracks. 
      From personal to professional tasks, TaskMate empowers you to stay in control and accomplish more.
      Boost your productivity, achieve your goals, and make progress towards success with TaskMate by your side. 
      Let TaskMate be your trusted ally in the journey of task management and experience a newfound sense of productivity and efficiency.
    </p>
  </div>
</div>

{% endblock content %}