{% extends 'base/main.html' %}
{% block content %}
{% load crispy_forms_tags %}


<body>
  <div class="login-register-container">
    <div>
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-warning" type="submit" value="Login">
      </form>
      <div class="login-register-text-container">
        <a href="{% url 'password_reset' %}"><small>Forgot password</small></a>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      </div>
    </div>
  </div>
</body>




{% endblock content %}