{% extends 'base/main.html' %}
{% block content %}
{% load crispy_forms_tags %}

<body>
  <div class="login-register-container">
    <h1>Reset Password</h1>
    {% if form %}
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-warning" type="submit" value="Reset Password">
      </form>
    {% else %}
      <h5>Something went wrong. Try resetting again.</h5>
      <a href="{% url 'password_reset' %}"><small>Forgot password</small></a>
    {% endif %}
  </div>
</body>


{% endblock content %}